adblockparser>=0.7
dnspython>=2.3.0
ExifRead>=2.3.2
CherryPy>=18.8.0
cherrypy-cors>=1.6
Mako>=1.2.4
beautifulsoup4>=4.11.2
lxml>=4.9.2
netaddr>=0.8.0
pysocks>=1.7.1
requests>=2.28.2
ipwhois>=1.1.0
ipaddr>=2.2.0
phonenumbers>=8.13.6
pygexf>=0.2.2
PyPDF2>=1.28.6
python-whois>=0.7.3
secure>=0.3.0
pyOpenSSL>=21.0.0
python-docx>=0.8.11
python-pptx>=0.6.21
networkx>=2.6.3
cryptography>=3.4.8
publicsuffixlist>=0.9.3
openpyxl>=3.1.1
pyyaml>=6.0.0
