    </div>
    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid text-center footer">
        <%
        messages = [
            "<i class='glyphicon glyphicon-shield'></i>&nbsp;&nbsp;<a target=_new href='https://github.com/yousafaiofficial/ShadowTrace'>ShadowTrace Security Exposure Intelligence Engine V1</a>",
            "<i class='glyphicon glyphicon-fire'></i>&nbsp;&nbsp;<a target=_new href='https://github.com/yousafaiofficial/ShadowTrace'>Analyze Exposure Scores, Attack Path Graphs & Actionable Remediation Plans in ShadowTrace.</a>",
            "<i class='glyphicon glyphicon-search'></i>&nbsp;&nbsp;<a target=_new href='https://github.com/yousafaiofficial/ShadowTrace'>ShadowTrace: Entity Resolution, Confidence Scoring & Evidence Provenance.</a>"
        ]

        import random
        message = messages[random.randint(0, len(messages)-1)]
        %>
        <span>${message}</span>
      </div>
    </footer>

    </body>
</html>
